<ng-container *ngIf="tableauBebe">
    <h2>Objets bébés :</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ObjetBebe of tableauBebe">
                <td>{{ObjetBebe.nom}}</td>
                <td>{{ObjetBebe.valeur}}</td>
                <td><button type="submit" [routerLink]="['/delete', ObjetBebe.id]">x</button></td>
            </tr>
        </tbody>
    </table>

    <app-add-objet [tableauBebe] = tableauBebe></app-add-objet>

</ng-container>