<h2>Objets bébés :</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let objetBebe of objetsBebes$ | async">
        <td>{{objetBebe.nom}}</td>
        <td>{{objetBebe.valeur}}</td>
    </tr>
</tbody>
</table>

<form (submit)="ajoutObjet()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input [(ngModel)]="objetBebeAjout.nom" name="nom" type="text" class="form-control" id="nom">
    </div>
    <div class="form-group">
      <label for="valeur">Valeur</label>
      <input [(ngModel)]="objetBebeAjout.valeur" name="valeur" type="number" class="form-control" id="valeur" >
    </div>
    <button type="submit" class="btn btn-primary" >Envoyer</button>

  </form>